<div class=result>
    <% @hits.each do |item| %>
        <div class=tile>
            <div class="image">
                <a href="<%= item["recipe"]["url"]%>">
                    <img class=thumbnail src="<%= item["recipe"]["image"]%>" alt="<%= item["label"] %>">
                </a>
            </div>
            <div class="searched_title">
                <p> 
                    <%= item["recipe"]["label"] %>
                </p>
            </div>
            <div class="ingredients"> 
                <% ingredientLines=item["recipe"]["ingredientLines"]%>
                <p>
                    <% ingredientLines.each do |ingredient| %>
                        <p><%= ingredient %></p>
                    <% end%>
                </p>
            </div>
        </div>
    <% end %>
</div>
